.controller.ds4 {
    background: url(https://pabloherresp.github.io/ControllerLayout/GamepadViewer/PS4/base.png);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4 .touchpad.pressed {
    background: url(https://pabloherresp.github.io/ControllerLayout/GamepadViewer/PS4/touchpad.png) no-repeat center;
}
