.controller.xbox {
    background: url(https://pabloherresp.github.io/GamepadViewer/XboxOne/base.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}
